<img src="assets/rightcorner.png" class="right-corner" alt="">
<div class="right-header-gap" aria-hidden="true"></div>																									
<div class="right-handle" aria-hidden="true">																									
	<button id="btn-right" class="btn-right" type="button" aria-label="Apri/chiudi barra destra">☰</button>																								
</div>																									
<div class="right-panel">																									
	<div class="right-handle-gap" aria-hidden="true"></div>																								
	<div class="right-top">																								
		<div class="right-search">																							
			<div class="right-search-title">Cerca</div>																						
		</div>																							
	</div>																								
	<div class="right-bottom">																								
		<div class="right-section-title">MANUALE DEL GIOCATORE</div>																							
		<ul class="right-index-list">																							
		<li><a href="manuale_del_giocatore/introduzione.html"><strong>Introduzione</strong></a></li>																							
		<li><a href="manuale_del_giocatore/stirpi_background.html"><strong>Stirpi e Background</strong></a></li>																							
		<li><a href="manuale_del_giocatore/classi.html"><strong>Classi</strong></a></li>																							
		<li><a href="manuale_del_giocatore/abilita.html"><strong>Abilità</strong></a></li>																							
		<li><a href="manuale_del_giocatore/talenti.html"><strong>Talenti</strong></a></li>																							
		<li><a href="manuale_del_giocatore/equipaggiamento.html"><strong>Equipaggiamento</strong></a></li>																							
		<li><a href="manuale_del_giocatore/incantesimi.html"><strong>Incantesimi</strong></a></li>																							
		<li><a href="manuale_del_giocatore/giocare.html"><strong>Giocare</strong></a></li>																							
		<li><a href="manuale_del_giocatore/condizioni.html"><strong>Appendice delle Condizioni</strong></a></li>																							
		<li><a href="manuale_del_giocatore/scheda_personaggio.html"><strong>Scheda del Personaggio</strong></a></li>																							
		<li><a href="manuale_del_giocatore/glossario.html"><strong>Glossario e Indice</strong></a></li>																							
		</ul>																							
	</div>																								
</div>																									
